* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1;
  font-family: 'GothamMedium', sans-serif;
  background: #fafafa;
  position: relative;
  min-height: 100%;
  font-size: 18px; }

.clearfix:after, .clearfix:before {
  content: " ";
  display: block;
  font-size: 0;
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0; }

sub, sup {
  font-size: 0.8rem; }

sup {
  vertical-align: top; }

sub {
  vertical-align: bottom; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  padding: 0 10px;
  width: auto;
  margin: 0 auto; }
  @media (min-width: 508px) {
    .container {
      width: 490px; } }
  @media (min-width: 770px) {
    .container {
      padding: 0;
      width: 750px; } }
  @media (min-width: 1028px) {
    .container {
      width: 1000px; } }
  @media (min-width: 1228px) {
    .container {
      width: 1200px; } }
  @media (min-width: 1466px) {
    .container {
      width: 1400px; } }

@media (min-width: 1570px) {
  .container-full {
    width: 1520px; } }

.container-max {
  width: auto;
  position: relative; }

.hamburglar {
  display: block; }
  @media (min-width: 1028px) {
    .hamburglar {
      display: none; } }
  .hamburglar .burger-container span {
    background: #1cbdb7; }

.line-height {
  line-height: 50px; }
  @media (min-width: 770px) {
    .line-height {
      line-height: 80px; } }
  @media (min-width: 1028px) {
    .line-height {
      line-height: 100px; } }

.navbar {
  background: #fff;
  border-bottom: 1px solid #e5e5e5; }

.container-navigation {
  min-height: 49px; }
  @media (max-width: 1028px) {
    .container-navigation {
      width: auto; } }
  @media (min-width: 1028px) {
    .container-navigation {
      display: table;
      min-height: 79px; } }
  @media (min-width: 1028px) {
    .container-navigation {
      min-height: 99px; } }
  @media (min-width: 1028px) {
    .container-navigation .navbar-header {
      display: table-cell;
      vertical-align: middle; } }
  .container-navigation .navbar-header .content-header {
    display: table;
    width: 100%; }
    .container-navigation .navbar-header .content-header .navbar-brand {
      padding: 4px 0;
      display: table-cell;
      vertical-align: middle;
      margin-left: 0;
      height: 100%; }
      .container-navigation .navbar-header .content-header .navbar-brand img {
        display: block;
        width: auto;
        max-height: 100%;
        min-width: 80px;
        max-width: 80px;
        margin-left: 10px; }
        @media (min-width: 1028px) {
          .container-navigation .navbar-header .content-header .navbar-brand img {
            min-width: 100px;
            max-width: 100px;
            margin-top: -15px;
            margin-left: 0; } }
        @media (min-width: 1228px) {
          .container-navigation .navbar-header .content-header .navbar-brand img {
            min-width: 159px;
            max-width: 159px; } }
    @media (max-width: 1028px) {
      .container-navigation .navbar-header .content-header .hamburglar {
        display: table-cell;
        vertical-align: middle; } }
    .container-navigation .navbar-header .content-header .hamburglar .burger-icon {
      position: inherit; }
  .container-navigation nav.main-nav {
    position: relative;
    overflow: hidden; }
    @media (min-width: 1028px) {
      .container-navigation nav.main-nav {
        overflow: inherit;
        display: table-cell;
        vertical-align: middle; } }
    .container-navigation nav.main-nav a {
      text-decoration: none;
      color: #605f5f; }
    .container-navigation nav.main-nav li, .container-navigation nav.main-nav a, .container-navigation nav.main-nav span {
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .container-navigation nav.main-nav ul {
      display: block;
      text-align: center; }
      @media (min-width: 1028px) {
        .container-navigation nav.main-nav ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          position: relative; } }
      .container-navigation nav.main-nav ul li {
        position: relative;
        padding: 10px 0;
        border-top: 1px solid #e5e5e5; }
        @media (min-width: 1028px) {
          .container-navigation nav.main-nav ul li {
            padding: 0;
            border-top: none; } }
        .container-navigation nav.main-nav ul li a.link {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 16px;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          @media (min-width: 1028px) {
            .container-navigation nav.main-nav ul li a.link {
              line-height: 79px; } }
          @media (min-width: 1228px) {
            .container-navigation nav.main-nav ul li a.link {
              font-size: 20px;
              line-height: 99px; } }
          .container-navigation nav.main-nav ul li a.link .earn {
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px -583px;
            width: 22px;
            height: 22px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav ul li a.link .earn {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
          .container-navigation nav.main-nav ul li a.link .save {
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px -499px;
            width: 22px;
            height: 22px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav ul li a.link .save {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
          .container-navigation nav.main-nav ul li a.link .gift {
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px -289px;
            width: 22px;
            height: 22px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav ul li a.link .gift {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
          .container-navigation nav.main-nav ul li a.link .shop {
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px -331px;
            width: 22px;
            height: 22px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav ul li a.link .shop {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
          .container-navigation nav.main-nav ul li a.link .profile {
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px -373px;
            width: 22px;
            height: 22px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav ul li a.link .profile {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
          .container-navigation nav.main-nav ul li a.link .arrow-down {
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px 0px;
            width: 12px;
            height: 8px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav ul li a.link .arrow-down {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
    .container-navigation nav.main-nav .nav-group {
      width: 100%; }
      @media (min-width: 1028px) {
        .container-navigation nav.main-nav .nav-group {
          display: table; } }
      @media (min-width: 1028px) {
        .container-navigation nav.main-nav .nav-group .nav-items {
          display: table-cell;
          vertical-align: middle;
          width: 100%; } }
      .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav {
        margin-right: 0; }
        @media (min-width: 1028px) {
          .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav {
            display: table;
            width: 100%; } }
        @media (min-width: 1228px) {
          .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav {
            margin-right: 30px; } }
        @media (min-width: 1466px) {
          .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav {
            margin-right: 88px; } }
        .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li {
          margin-right: 0; }
          @media (min-width: 1028px) {
            .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li {
              display: table-cell;
              vertical-align: middle;
              margin-right: 24px; }
              .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li:hover .nav-ul {
                display: block;
                max-height: 500px; } }
          @media (min-width: 1466px) {
            .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li {
              margin-right: 49px; } }
          .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li:last-child {
            margin-right: 0; }
          .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li .text {
            margin: 0 8px 0 5px; }
          .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li.open {
            padding-bottom: 0; }
            .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav > li.open .nav-ul {
              display: block;
              max-height: 500px;
              position: relative;
              margin-top: 10px;
              border: 0 solid; }
        .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav li.active span.text {
          color: #d35d2e; }
        .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav li:hover span.text {
          color: #d35d2e; }
        .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul {
          position: absolute;
          width: auto;
          background: #fff;
          min-width: 100%;
          overflow: hidden;
          max-height: 0;
          -webkit-transition: all 1s;
          transition: all 1s; }
          @media (max-width: 1028px) {
            .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul {
              display: none;
              margin-top: 20px; } }
          .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul ul {
            position: relative;
            display: block; }
            @media (min-width: 1028px) {
              .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul ul {
                border: 1px solid;
                -webkit-border-radius: 4px;
                        border-radius: 4px;
                border-color: #e0e2e3; } }
            .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul ul li {
              display: block;
              -webkit-transition: all 0.2s;
              transition: all 0.2s; }
              @media (min-width: 1028px) {
                .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul ul li {
                  border-bottom: 1px solid #e0e2e3; }
                  .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul ul li:last-child {
                    border-bottom: 0px solid; } }
              .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul ul li:hover {
                background-color: #e0e2e3; }
              .container-navigation nav.main-nav .nav-group .nav-items .navbar-nav .nav-ul ul li a {
                padding: 10px 12px;
                cursor: pointer;
                display: block; }
      .container-navigation nav.main-nav .nav-group .user-panel {
        display: block;
        width: 100%; }
        @media (min-width: 1028px) {
          .container-navigation nav.main-nav .nav-group .user-panel {
            display: table-cell;
            vertical-align: middle; } }
        @media (min-width: 1028px) {
          .container-navigation nav.main-nav .nav-group .user-panel ul {
            display: table; } }
        @media (min-width: 1028px) {
          .container-navigation nav.main-nav .nav-group .user-panel ul li {
            display: table-cell;
            vertical-align: middle; } }
        @media (min-width: 1028px) {
          .container-navigation nav.main-nav .nav-group .user-panel ul li {
            padding-left: 24px; } }
        .container-navigation nav.main-nav .nav-group .user-panel ul li:first-child {
          padding-left: 0; }
        .container-navigation nav.main-nav .nav-group .user-panel ul li span {
          font-size: 14px; }
          @media (min-width: 1228px) {
            .container-navigation nav.main-nav .nav-group .user-panel ul li span {
              font-size: 16px; } }
        .container-navigation nav.main-nav .nav-group .user-panel ul .user {
          white-space: nowrap; }
          .container-navigation nav.main-nav .nav-group .user-panel ul .user .star {
            position: relative;
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px -625px;
            width: 26px;
            height: 25px;
            margin-right: 15px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav .nav-group .user-panel ul .user .star {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
            .container-navigation nav.main-nav .nav-group .user-panel ul .user .star i {
              position: absolute;
              top: 0;
              right: -14px;
              font-family: MyriadProBold;
              font-weight: bold;
              font-size: 9px;
              -webkit-border-radius: 12px;
                      border-radius: 12px;
              padding: 2px 4px;
              border: 2px solid #fff;
              background: #de5c15;
              color: #fff; }
          .container-navigation nav.main-nav .nav-group .user-panel ul .user .text {
            color: #308924; }
          .container-navigation nav.main-nav .nav-group .user-panel ul .user .info {
            color: #787878; }
        .container-navigation nav.main-nav .nav-group .user-panel ul .control-user {
          white-space: nowrap; }
          .container-navigation nav.main-nav .nav-group .user-panel ul .control-user a .logout {
            display: inline-block;
            background-image: url(../img/sprite-@1x.png);
            background-position: 0px -96px;
            width: 15px;
            height: 15px;
            margin-right: 9px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container-navigation nav.main-nav .nav-group .user-panel ul .control-user a .logout {
                background-image: url(../img/sprite-@2x.png);
                background-size: 26px 742px; } }
          .container-navigation nav.main-nav .nav-group .user-panel ul .control-user a .text {
            color: #000; }

.text-uppercase {
  text-transform: uppercase; }

.text-big {
  font-size: 18px; }

.flex-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex-block.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .flex-block.content-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-block.items-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }

button {
  cursor: pointer; }

.btn {
  position: relative;
  color: #000;
  padding: 8px 10px;
  outline: none;
  border: 2px solid;
  border-color: transparent;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  white-space: nowrap;
  text-decoration: none;
  font-size: 12px;
  font-family: GothamMedium;
  cursor: pointer; }

.btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .btn-group .btn-group-btn-justify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .btn-group .btn-group-btn {
    margin: 12px 0;
    margin-right: 15px; }
    .btn-group .btn-group-btn:last-child {
      margin-right: 0; }

.btn-transparent {
  background: #ffffff;
  position: relative;
  padding: 6px 10px;
  outline: none;
  border: 1px solid;
  border-color: #cacaca;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }

.btn-default {
  border-color: #fff; }

.btn-success {
  background: #51a446;
  color: #fff;
  border-color: #51a446; }
  .btn-success:hover {
    color: #51a446;
    background: transparent; }

.btn-warning {
  background: #f99a04;
  color: #fff;
  border-color: #f99a04; }
  .btn-warning:hover {
    color: #f99a04;
    background: transparent; }

.btn-info {
  background: #3cc5ba;
  color: #fff;
  border-color: #3cc5ba; }
  .btn-info:hover {
    color: #3cc5ba;
    background: transparent; }

.btn-add {
  background: #9ccb3d;
  color: #ffffff;
  border-color: #9ccb3d;
  padding: 10px;
  font-size: 12px; }
  .btn-add:hover {
    color: #9ccb3d;
    background: transparent; }
  .btn-add .add-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 6px;
    background-image: url(../img/sprite-@1x.png);
    background-position: 0px -670px;
    width: 26px;
    height: 26px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .btn-add .add-icon {
        background-image: url(../img/sprite-@2x.png);
        background-size: 26px 742px; } }
  .btn-add:hover .add-icon {
    background-image: url(../img/sprite-@1x.png);
    background-position: 0px -716px;
    width: 26px;
    height: 26px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .btn-add:hover .add-icon {
        background-image: url(../img/sprite-@2x.png);
        background-size: 26px 742px; } }
  .btn-add span.text {
    padding: 0 46px; }
    @media (min-width: 1028px) {
      .btn-add span.text {
        padding: 0 76px; } }

main {
  padding-bottom: 130px; }
  @media (min-width: 1028px) {
    main {
      padding-bottom: 80px; } }
  main section.title-block {
    padding: 35px 0 20px; }
    main section.title-block .flex-block {
      display: block; }
      @media (min-width: 1028px) {
        main section.title-block .flex-block {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; } }
      main section.title-block .flex-block .btn {
        margin-top: 20px; }
        @media (min-width: 1028px) {
          main section.title-block .flex-block .btn {
            margin-top: 0; } }
    main section.title-block .text h1 {
      font-size: 36px; }
    main section.title-block .text p {
      padding-top: 20px; }
  main section.main-card .item {
    display: block; }
    @media (min-width: 1228px) {
      main section.main-card .item {
        float: left;
        width: 50%; }
        main section.main-card .item:nth-child(odd) .content-card {
          margin-right: 16px; }
        main section.main-card .item:nth-child(even) .content-card {
          margin-left: 16px; }
        main section.main-card .item:nth-child(odd) {
          clear: both; } }
    main section.main-card .item .content-card {
      padding: 21px 20px;
      background: #fff;
      margin: 0 0 30px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 1px solid #e0e2e3; }
      main section.main-card .item .content-card .head-card {
        display: block; }
        main section.main-card .item .content-card .head-card .img-card {
          background: #f1f1f1;
          -webkit-border-radius: 4px;
                  border-radius: 4px;
          border: 1px solid #e0e2e3;
          width: 170px;
          height: 150px;
          margin: 0 auto;
          padding: 10px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          @media (min-width: 770px) {
            main section.main-card .item .content-card .head-card .img-card {
              margin: 0;
              float: left;
              width: 136px;
              height: 120px; } }
          @media (min-width: 1028px) {
            main section.main-card .item .content-card .head-card .img-card {
              width: 170px;
              height: 150px; } }
          main section.main-card .item .content-card .head-card .img-card img {
            display: block;
            margin: 0 auto;
            width: auto;
            max-width: 100%;
            max-height: 100%; }
        @media (min-width: 770px) {
          main section.main-card .item .content-card .head-card .info-card {
            width: -webkit-calc(100% - 192px);
            width: calc(100% - 192px);
            float: right;
            margin-left: 22px; } }
        main section.main-card .item .content-card .head-card .info-card .title-card {
          border-bottom: 1px dashed #e0e2e3;
          padding-bottom: 10px;
          font-family: MyriadProRegular;
          width: 100%;
          text-align: center; }
          @media (min-width: 770px) {
            main section.main-card .item .content-card .head-card .info-card .title-card {
              text-align: left; } }
          main section.main-card .item .content-card .head-card .info-card .title-card h2 {
            font-size: 30px;
            line-height: 40px; }
            @media (min-width: 770px) {
              main section.main-card .item .content-card .head-card .info-card .title-card h2 {
                font-size: 40px;
                line-height: 50px;
                display: inline; } }
          main section.main-card .item .content-card .head-card .info-card .title-card p {
            font-size: 15px;
            margin-left: 24px;
            display: inline; }
        main section.main-card .item .content-card .head-card .info-card .info-groubs {
          border-bottom: 1px dashed #e0e2e3;
          margin-top: 10px;
          padding-bottom: 10px; }
          @media (min-width: 1466px) {
            main section.main-card .item .content-card .head-card .info-card .info-groubs {
              margin-top: 20px;
              padding-bottom: 20px; } }
          main section.main-card .item .content-card .head-card .info-card .info-groubs h3 {
            text-transform: uppercase;
            font-size: 14px; }
          main section.main-card .item .content-card .head-card .info-card .info-groubs strong {
            font-family: MyriadProRegular; }
          main section.main-card .item .content-card .head-card .info-card .info-groubs .currency {
            color: #d35d2e;
            font-size: 20px; }
            @media (min-width: 1466px) {
              main section.main-card .item .content-card .head-card .info-card .info-groubs .currency {
                font-size: 30px; } }
            @media (min-width: 1570px) {
              main section.main-card .item .content-card .head-card .info-card .info-groubs .currency {
                font-size: 38px; } }
          @media (min-width: 1466px) {
            main section.main-card .item .content-card .head-card .info-card .info-groubs .date {
              font-size: 24px; } }
          @media (min-width: 1570px) {
            main section.main-card .item .content-card .head-card .info-card .info-groubs .date {
              font-size: 33px; } }
      main section.main-card .item .content-card .nav-card .read-more:after {
        top: 4px;
        right: 4px;
        background-image: url(../img/sprite-@1x.png);
        background-position: 0px -457px;
        width: 22px;
        height: 22px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          main section.main-card .item .content-card .nav-card .read-more:after {
            background-image: url(../img/sprite-@2x.png);
            background-size: 26px 742px; } }
      main section.main-card .item .content-card .nav-card .read-more:hover:after {
        background-image: url(../img/sprite-@1x.png);
        background-position: 0px -415px;
        width: 22px;
        height: 22px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          main section.main-card .item .content-card .nav-card .read-more:hover:after {
            background-image: url(../img/sprite-@2x.png);
            background-size: 26px 742px; } }
      main section.main-card .item .content-card .nav-card .save-cont:after {
        top: 3px;
        right: 8px;
        background-image: url(../img/sprite-@1x.png);
        background-position: 0px -248px;
        width: 15px;
        height: 21px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          main section.main-card .item .content-card .nav-card .save-cont:after {
            background-image: url(../img/sprite-@2x.png);
            background-size: 26px 742px; } }
      main section.main-card .item .content-card .nav-card .save-cont:hover:after {
        background-image: url(../img/sprite-@1x.png);
        background-position: 0px -207px;
        width: 15px;
        height: 21px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          main section.main-card .item .content-card .nav-card .save-cont:hover:after {
            background-image: url(../img/sprite-@2x.png);
            background-size: 26px 742px; } }
      main section.main-card .item .content-card .nav-card .mod-cont:after {
        top: 7px;
        right: 8px;
        background-image: url(../img/sprite-@1x.png);
        background-position: 0px -28px;
        width: 14px;
        height: 14px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          main section.main-card .item .content-card .nav-card .mod-cont:after {
            background-image: url(../img/sprite-@2x.png);
            background-size: 26px 742px; } }
      main section.main-card .item .content-card .nav-card .mod-cont:hover:after {
        background-image: url(../img/sprite-@1x.png);
        background-position: 0px -62px;
        width: 14px;
        height: 14px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          main section.main-card .item .content-card .nav-card .mod-cont:hover:after {
            background-image: url(../img/sprite-@2x.png);
            background-size: 26px 742px; } }
      main section.main-card .item .content-card .nav-card button {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        padding-right: 30px;
        padding-left: 14px; }
        main section.main-card .item .content-card .nav-card button:after {
          content: '';
          position: absolute; }
      main section.main-card .item .content-card .status-card .btn-transparent {
        color: #000;
        background-color: transparent;
        position: relative; }
        main section.main-card .item .content-card .status-card .btn-transparent:hover {
          background-color: #e6e6e6; }
        main section.main-card .item .content-card .status-card .btn-transparent:after {
          content: '';
          position: absolute;
          left: 10px; }
        main section.main-card .item .content-card .status-card .btn-transparent.i-completed:after {
          top: 5px;
          background-image: url(../img/sprite-@1x.png);
          background-position: 0px -131px;
          width: 16px;
          height: 16px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            main section.main-card .item .content-card .status-card .btn-transparent.i-completed:after {
              background-image: url(../img/sprite-@2x.png);
              background-size: 26px 742px; } }
        main section.main-card .item .content-card .status-card .btn-transparent.bucket:after {
          top: 3px;
          background-image: url(../img/sprite-@1x.png);
          background-position: 0px -167px;
          width: 20px;
          height: 20px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            main section.main-card .item .content-card .status-card .btn-transparent.bucket:after {
              background-image: url(../img/sprite-@2x.png);
              background-size: 26px 742px; } }
        main section.main-card .item .content-card .status-card .btn-transparent .text {
          padding: 0 30px; }

footer {
  background: #fafafa;
  min-height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  @media (min-width: 1028px) {
    footer {
      height: 60px; } }
  footer .content-footer {
    border-top: 1px solid #e1e1e1;
    font-size: 12px; }
    @media (max-width: 1028px) {
      footer .content-footer {
        padding-top: 20px; } }
    @media (min-width: 1028px) {
      footer .content-footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%; } }
    @media (max-width: 1028px) {
      footer .content-footer .copyright {
        text-align: center; } }
    footer .content-footer .footer-nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 20px; }
      @media (max-width: 1028px) {
        footer .content-footer .footer-nav ul {
          padding: 20px 0; } }
      footer .content-footer .footer-nav ul li {
        border-right: 1px solid;
        margin-right: 8px;
        padding-right: 8px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        footer .content-footer .footer-nav ul li:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: 0 solid; }
        footer .content-footer .footer-nav ul li a {
          text-decoration: none;
          color: #000; }
        footer .content-footer .footer-nav ul li:hover a {
          text-decoration: underline; }
    @media (max-width: 1028px) {
      footer .content-footer .brand-footer {
        padding-bottom: 20px; } }
    footer .content-footer .brand-footer img {
      display: block;
      width: auto;
      max-width: 66px; }
      @media (max-width: 1028px) {
        footer .content-footer .brand-footer img {
          margin: 0 auto; } }
      @media (min-width: 1028px) {
        footer .content-footer .brand-footer img {
          max-width: 76px; } }

/*# sourceMappingURL=main.css.map */
