*
	box-sizing: border-box

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block

html
	height: 100%

body
	line-height: 1
	font-family: 'GothamMedium', sans-serif
	background: #fafafa
	position: relative
	min-height: 100%
	font-size: 18px

.clearfix

	&:after, &:before
		content: " "
		display: block
		font-size: 0
		clear: both
		visibility: hidden
		width: 0
		height: 0

sub, sup
	font-size: 0.8rem

sup
	vertical-align: top

sub
	vertical-align: bottom

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''

table
	border-collapse: collapse
	border-spacing: 0

//styles

.container
	padding: 0 10px
	width: auto
	margin: 0 auto

	@media (min-width: $width-ss)
		width: 490px

	@media (min-width: $width-ls)
		padding: 0
		width: 750px

	@media (min-width: $width-md)
		width: 1000px

	@media (min-width: $width-lg)
		width: 1200px

	@media (min-width: $width-elg)
		width: 1400px

.container-full

	@media (min-width: $width-exlg)
		width: 1520px

.container-max
	width: auto
	position: relative

.hamburglar
	display: block

	@media (min-width: $width-md)
		display: none

	.burger-container

		span
			background: #1cbdb7

.line-height
	line-height: 50px

	@media (min-width: $width-ls)
		line-height: 80px

	@media (min-width: $width-md)
		line-height: 100px

.navbar
	background: #fff
	border-bottom: 1px solid #e5e5e5

.container-navigation
	min-height: 49px

	@media (max-width: $width-md)
		width: auto

	@media (min-width: $width-md)
		display: table
		min-height: 79px

	@media (min-width: $width-md)
		min-height: 99px

	.navbar-header

		@media (min-width: $width-md)
			display: table-cell
			vertical-align: middle

		.content-header
			display: table
			width: 100%

			.navbar-brand
				padding: 4px 0
				display: table-cell
				vertical-align: middle
				margin-left: 0
				height: 100%

				img
					display: block
					width: auto
					max-height: 100%
					min-width: 80px
					max-width: 80px
					margin-left: 10px

					@media (min-width: $width-md)
						min-width: 100px
						max-width: 100px
						margin-top: -15px
						margin-left: 0

					@media (min-width: $width-lg)
						min-width: 159px
						max-width: 159px

			.hamburglar

				@media (max-width: $width-md)
					display: table-cell
					vertical-align: middle

				.burger-icon
					position: inherit

	nav.main-nav
		position: relative
		overflow: hidden
		//display: none

		@media (min-width: $width-md)
			overflow: inherit
			//display: flex !important
			//flex-grow: 1
			//align-items: center
			//justify-content: flex-end

			display: table-cell
			vertical-align: middle

		a
			text-decoration: none
			color: #605f5f

		li, a, span
			transition: all 0.2s

		ul
			display: block
			text-align: center

			@media (min-width: $width-md)
				display: flex
				align-items: center
				position: relative

			li
				position: relative
				padding: 10px 0
				border-top: 1px solid #e5e5e5

				@media (min-width: $width-md)
					padding: 0
					border-top: none

				a.link
					display: flex
					align-items: center
					font-size: 16px
					justify-content: center

					@media (min-width: $width-md)
						line-height: 79px

					@media (min-width: $width-lg)
						font-size: 20px
						line-height: 99px

					.earn
						@include retina-sprite($earn-group)

					.save
						@include retina-sprite($save-a-group)

					.gift
						@include retina-sprite($gift-group)

					.shop
						@include retina-sprite($shop-group)

					.profile
						@include retina-sprite($profile-group)

					.arrow-down
						@include retina-sprite($arrow-down-group)

		.nav-group
			width: 100%

			@media (min-width: $width-md)
				display: table

			.nav-items

				@media (min-width: $width-md)
					display: table-cell
					vertical-align: middle
					width: 100%

				.navbar-nav
					margin-right: 0

					@media (min-width: $width-md)
						display: table
						width: 100%

					@media (min-width: $width-lg)
						margin-right: 30px

					@media (min-width: $width-elg)
						margin-right: 88px

					>li
						margin-right: 0

						@media (min-width: $width-md)
							display: table-cell
							vertical-align: middle
							margin-right: 24px

							&:hover .nav-ul
								display: block
								max-height: 500px

						@media (min-width: $width-elg)
							margin-right: 49px

						&:last-child
							margin-right: 0

						.text
							margin: 0 8px 0 5px

						&.open
							padding-bottom: 0

							.nav-ul
								display: block
								max-height: 500px
								position: relative
								margin-top: 10px
								border: 0 solid


					& li.active span.text
						color: #d35d2e

					& li:hover span.text
						color: #d35d2e

					.nav-ul
						position: absolute
						width: auto
						background: #fff
						min-width: 100%
						//display: none
						overflow: hidden
						max-height: 0
						transition: all 1s

						@media (max-width: $width-md)
							display: none
							margin-top: 20px

						ul
							position: relative
							display: block
							@media (min-width: $width-md)
								border: 1px solid
								border-radius: 4px
								border-color: #e0e2e3

							li
								display: block
								transition: all 0.2s

								@media (min-width: $width-md)
									border-bottom: 1px solid #e0e2e3

									&:last-child
										border-bottom: 0px solid

								&:hover
									background-color: #e0e2e3

								a
									padding: 10px 12px
									cursor: pointer
									display: block


			.user-panel
				display: block
				width: 100%

				@media (min-width: $width-md)
					display: table-cell
					vertical-align: middle

				ul

					@media (min-width: $width-md)
						display: table

					li
						@media (min-width: $width-md)
							display: table-cell
							vertical-align: middle

						@media (min-width: $width-md)
							padding-left: 24px

						&:first-child
							padding-left: 0

						span
							font-size: 14px

							@media (min-width: $width-lg)
								font-size: 16px

					.user
						white-space: nowrap

						.star
							position: relative
							@include retina-sprite($star-group)
							margin-right: 15px

							i
								position: absolute
								top: 0
								right: -14px
								font-family: MyriadProBold
								font-weight: bold
								font-size: 9px
								border-radius: 12px
								padding: 2px 4px
								border: 2px solid #fff
								background: #de5c15
								color: #fff

						.text
							color: #308924

						.info
							color: #787878

					.control-user
						white-space: nowrap

						a
							.logout
								display: inline-block
								@include retina-sprite($logout-group)
								margin-right: 9px

							.text
								color: #000

.text-uppercase
	text-transform: uppercase

.text-big
	font-size: 18px

.flex-block
	display: flex

	&.space-between
		justify-content: space-between

	&.content-center
		justify-content: center

	&.items-end
		align-items: flex-end

button
	cursor: pointer

.btn
	position: relative
	color: #000
	padding: 8px 10px
	outline: none
	border: 2px solid
	border-color: transparent
	border-radius: 30px
	transition: all 0.2s
	white-space: nowrap
	text-decoration: none
	font-size: 12px
	font-family: GothamMedium
	cursor: pointer

.btn-group
	display: flex
	flex-wrap: wrap

	.btn-group-btn-justify
		display: flex
		flex-grow: 1

	.btn-group-btn
		margin: 12px 0
		margin-right: 15px

		&:last-child
			margin-right: 0

.btn-transparent
	background: #ffffff
	position: relative
	padding: 6px 10px
	outline: none
	border: 1px solid
	border-color: #cacaca
	border-radius: 4px
	transition: all 0.2s
	cursor: pointer

.btn-default
	border-color: #fff

.btn-success
	background: #51a446
	color: #fff
	border-color: #51a446

	&:hover
		color: #51a446
		background: transparent

.btn-warning
	background: #f99a04
	color: #fff
	border-color: #f99a04

	&:hover
		color: #f99a04
		background: transparent

.btn-info
	background: #3cc5ba
	color: #fff
	border-color: #3cc5ba

	&:hover
		color: #3cc5ba
		background: transparent

.btn-add
	background: #9ccb3d
	color: #ffffff
	border-color: #9ccb3d
	padding: 10px
	font-size: 12px

	&:hover
		color: #9ccb3d
		background: transparent

	.add-icon
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 6px
		@include retina-sprite($add-group)

	&:hover .add-icon
		@include retina-sprite($add-hover-group)

	span.text
		padding: 0 46px

		@media (min-width: $width-md)
			padding: 0 76px

main
	padding-bottom: 130px

	@media (min-width: $width-md)
		padding-bottom: 80px

	section.title-block
		padding: 35px 0 20px

		.flex-block
			display: block

			@media (min-width: $width-md)
				display: flex

			.btn
				margin-top: 20px

				@media (min-width: $width-md)
					margin-top: 0

		.text

			h1
				font-size: 36px

			p
				padding-top: 20px

	section.main-card

		.item
			display: block

			@media (min-width: $width-lg)
				float: left
				width: 50%

				&:nth-child(odd) .content-card
					margin-right: 16px

				&:nth-child(even) .content-card
					margin-left: 16px

				&:nth-child(odd)
					clear: both

			.content-card
				padding: 21px 20px
				background: #fff
				margin: 0 0 30px
				border-radius: 4px
				border: 1px solid #e0e2e3

				.head-card
					display: block

					.img-card
						background: #f1f1f1
						border-radius: 4px
						border: 1px solid #e0e2e3
						width: 170px
						height: 150px
						margin: 0 auto
						padding: 10px
						display: flex
						align-items: center

						@media (min-width: $width-ls)
							margin: 0
							float: left
							width: 136px
							height: 120px

						@media (min-width: $width-md)
							width: 170px
							height: 150px

						img
							display: block
							margin: 0 auto
							width: auto
							max-width: 100%
							max-height: 100%

					.info-card

						@media (min-width: $width-ls)
							width: calc(100% - 192px)
							float: right
							margin-left: 22px

						.title-card
							border-bottom: 1px dashed #e0e2e3
							padding-bottom: 10px
							font-family: MyriadProRegular
							//display: flex
							//align-items: center
							width: 100%
							text-align: center

							@media (min-width: $width-ls)
								text-align: left

							h2
								font-size: 30px
								line-height: 40px

								@media (min-width: $width-ls)
									font-size: 40px
									line-height: 50px
									display: inline

							p
								font-size: 15px
								margin-left: 24px
								display: inline
						//overflow: hidden
						//white-space: nowrap
						//text-overflow: ellipsis

						.info-groubs
							border-bottom: 1px dashed #e0e2e3
							margin-top: 10px
							padding-bottom: 10px

							@media (min-width: $width-elg)
								margin-top: 20px
								padding-bottom: 20px

							h3
								text-transform: uppercase
								font-size: 14px

							strong
								font-family: MyriadProRegular

							.currency
								color: #d35d2e
								font-size: 20px

								@media (min-width: $width-elg)
									font-size: 30px

								@media (min-width: $width-exlg)
									font-size: 38px

							.date

								@media (min-width: $width-elg)
									font-size: 24px

								@media (min-width: $width-exlg)
									font-size: 33px

				.nav-card

					.read-more

						&:after
							top: 4px
							right: 4px
							@include retina-sprite($read-more-group)

						&:hover:after
							@include retina-sprite($read-more-hover-group)

					.save-cont

						&:after
							top: 3px
							right: 8px
							@include retina-sprite($save-cont-group)

						&:hover:after
							@include retina-sprite($save-cont-hover-group)

					.mod-cont

						&:after
							top: 7px
							right: 8px
							@include retina-sprite($modify-cont-group)

						&:hover:after
							@include retina-sprite($modify-cont-hover-group)

					button
						transition: all 0.2s
						padding-right: 30px
						padding-left: 14px

						&:after
							content: ''
							position: absolute

				.status-card

					.btn-transparent
						color: #000
						background-color: transparent
						position: relative

						&:hover
							background-color: #e6e6e6

						&:after
							content: ''
							position: absolute
							left: 10px

						&.i-completed:after
							top: 5px
							@include retina-sprite($i-completed-group)

						&.bucket:after
							top: 3px
							@include retina-sprite($buket-group)

						.text
							padding: 0 30px

footer
	background: #fafafa
	min-height: 60px
	position: absolute
	bottom: 0
	width: 100%

	@media (min-width: $width-md)
		height: 60px

	.content-footer
		border-top: 1px solid #e1e1e1
		font-size: 12px

		@media (max-width: $width-md)
			padding-top: 20px

		@media (min-width: $width-md)
			display: flex
			justify-content: space-between
			align-items: center
			height: 100%

		.copyright

			@media (max-width: $width-md)
				text-align: center

		.footer-nav

			ul
				display: flex
				justify-content: center
				padding: 0 20px

				@media (max-width: $width-md)
					padding: 20px 0

				li
					border-right: 1px solid
					margin-right: 8px
					padding-right: 8px
					display: flex
					align-items: center

					&:last-child
						margin-right: 0
						padding-right: 0
						border-right: 0 solid

					a
						text-decoration: none
						color: #000

					&:hover a
						text-decoration: underline

		.brand-footer

			@media (max-width: $width-md)
				padding-bottom: 20px

			img
				display: block
				width: auto
				max-width: 66px

				@media (max-width: $width-md)
					margin: 0 auto

				@media (min-width: $width-md)
					max-width: 76px